<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<% include nav.ejs %>

<main class="mdl-layout__content">
    <div class="page-content">
    	<h1> hey there</h1>
<!-- <ul ng-app="" ng-init = "data = products">
<!-- <% for(var i=0; i<products.length; i++){ %> -->
<!-- <li ng-repeat = "x in data" ><img src="{{x.Image}}"><br> {{ x.Name }}</li> -->
<!-- <% } %> -->
<!-- </ul>  -->
    </div>
    </div>
</main>


</body>
</html>