<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="./assets/search.css" type="text/css">
<script>
var app = angular.module('home', []);
app.controller("itemsctrl", function($scope, $http) {
  $http.get("/data").then(function (response) {
      $scope.prod = response.data;
})});
</script>
</head>
<body>
<% include nav.ejs %>

<main class="mdl-layout__content">
    <div class="page-content">
<div ng-app='home' ng-controller='itemsctrl'>
  <br>
  <br>

<div class = "row">
	<div class="col-sm-4"  ng-repeat="x in prod" >
	  <!-- <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px"> -->

	    <!-- <md-grid-tile class="gray" md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" ng-repeat="x in prod"> -->
	        <p align="center" style='font-size: 12px;border: 1px solid #333;'><img src= '{{x.Image}}'><br>{{ x.Name }}</p>
	    <!-- </md-grid-tile> -->
	 <!-- </md-grid-list> -->
	</div>
</div>

</div>
    </div>
</main>

</body>
</html>
